<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>用于将图片保存到相册</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>用于选择任务图片</string>
</dict>
</plist>
